# Use servers.yml to change URI for namenode
# You can add additional properties in this file
{% if security_enabled %}
spring.hadoop.security.authMethod=kerberos
spring.hadoop.security.userPrincipal={{user_principal_name}}
spring.hadoop.security.userKeytab={{user_keytab}}
spring.hadoop.security.namenodePrincipal={{nn_principal_name}}
spring.hadoop.security.rmManagerPrincipal={{rm_principal_name}}
spring.hadoop.security.jobHistoryPrincipal={{jhs_principal_name}}
{% endif %}
{% if dfs_ha_enabled %}
dfs.ha.automatic-failover.enabled={{dfs_ha_automatic_failover_enabled}}
dfs.nameservices={{dfs_ha_nameservices}}
dfs.client.failover.proxy.provider.{{dfs_ha_nameservices}}=org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider
dfs.ha.namenodes.{{dfs_ha_nameservices}}={{dfs_ha_namenode_ids}}
{% for key, value in dfs_ha_map.iteritems() %}
dfs.namenode.rpc-address.{{dfs_ha_nameservices}}.{{key}}={{value}}
{% endfor %}
{% endif %}
